PROJECT_NAME=market_intelligence_platform
APP_ENV=local
LOG_LEVEL=INFO
GITHUB_OWNER=your-org-or-user
GITHUB_REPOSITORY=market_intelligence_platform
GITHUB_BRANCH=main
SNOWFLAKE_ACCOUNT=UUHJJKZ-AT85978
SNOWFLAKE_USER=KIKESNOW4
SNOWFLAKE_PASSWORD=la_casa_de_la_PLAYA123
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=MARKET_INTELLIGENCE_DB
SNOWFLAKE_SCHEMA=CORE
DBT_TARGET=dev
